.blacker {
    display: none;
}
.blacker.active {
    margin: 0;
    position: fixed;
    display: block;
    z-index: 3;
    background-color: black;
    opacity: 0.5;
    height: 100vh;
    width: 100vw;
}
.registerPopUp {
    height: 250px;
    width: 375px;
    display: none;
}

.registerPopUp.active {
    z-index: 4;
    display: block;
    position: fixed;
    top: calc(50vh - 175px);
    left: calc(50vw - 210px);
    background-color: #a78bfa;
    padding: 25px;
    border-radius: 25px;
}

#registerPlayers > div:first-child {
    height: 125px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
#registerPlayers > div:first-child > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#registerPlayers > div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
}
#registerPlayers > div:last-child > button {
    height: 50px;
    width: 150px;
    border-radius: 20px;
    border: 1px solid black;
}
