.blacker {
    display: none;
}
.blacker.active {
    margin: 0;
    position: fixed;
    display: block;
    z-index: 3;
    background-color: black;
    opacity: 0.5;
    height: 100vh;
    width: 100vw;
}
.registerPopUp {
    height: 250px;
    width: 375px;
    display: none;
}

.registerPopUp.active {
    z-index: 4;
    display: block;
    position: fixed;
    top: 25vh;
    left: calc(50vw - 210px);
    border: 1px solid var(--blue-700);
    background-color: var(--blue-200);
    padding: 25px;
    border-radius: 25px;
}
.registerPopUp label {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.registerPopUp input {
    box-sizing: border-box;
    border-radius: 25px;
    padding-left: 10px;
    font-size: 1rem;
    height: auto;
    width: 100%;
    border: 1px solid var(--blue-700);
}
#registerPlayers > div:first-child {
    height: 125px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
@media screen and (max-width: 375px) {
    #registerPlayers > div:first-child {
        flex-direction: column;
    }
}
#registerPlayers > div:first-child > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#registerPlayers > div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
}
#registerPlayers > div:last-child > button {
    height: 50px;
    width: 150px;
    border-radius: 20px;
    border: 1px solid var(--blue-200);
    background-color: var(--blue-700);
    color: white;
}
