:root {
    --green-200: #eae7b1;
    --green-400: #a6bb8d;
    --green-600: #61876e;
    --green-900: #3c6255;

    --gray-700: #5c5761;

    --blue-200: #9fa6cc;
    --blue-500: #494775;
    --blue-700: #343e71;

    --purple-700: #7c3aed;
}
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&display=swap");

@font-face {
    font-family: tropical-Asian;
    src: url(../fonts/TropicalAsian.ttf);
}
body {
    background-color: var(--blue-200);
    margin: 0px;
    height: 100vh;
}
.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 250px 1fr;
}
header h1 {
    margin: 0px;
    padding: 20px;
    font-size: 3rem;
}
header h2 {
    margin: 0px;
    font-size: 2rem;
}
header {
    grid-column: span 3;
    grid-row: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25%;
}
@media screen and (max-width: 1024px) {
    header {
        flex-direction: column;
        gap: 10px;
    }
    header h1 {
        font-size: 2rem;
    }
    header h2 {
        font-size: 1rem;
    }
}
header div {
    text-align: center;
    border-radius: 20px;
    border: 1px solid var(--blue-700);
    background-color: #a78bfa;
    background-color: #6a729f;
    transition: 0.4s;
}
header div.active {
    background-color: #7c3aed;
    background-color: var(--blue-700);
    transition: 0.4s;
}
main {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
}
#board {
    border: 3px solid var(--blue-700);
    padding: 20px;
    border-radius: 20px;
    height: 300px;
    width: 300px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    color: var(--blue-200);
}
#board div {
    font-family: tropical-Asian;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    background-color: var(--blue-700);
    transition: transform 0.1s;
}
#board div.open:hover {
    transition: transform 0.1s;
    transform: scale(1.05);
}
#board div.open {
    cursor: pointer;
}
#board div.won {
    transform: scale(1.07);
    background-color: #61876e;
    transition: 1s;
}
